/* Grundlæggende layout og typografi for siden */
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #252525;
    }
    
    /* Centrering af indhold, side struktur */
    body{
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 18px;
    }
    
    /* Navigationsbar der bliver i toppen ved scroll og stilen */
    .nav-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2rem 0rem;
        margin-right: 20px;
        background-color: #d9d9d9;
        /* Fixed Top: Navigationsbaren forbliver i toppen når bruger scroller */
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    /* Fjerner punkttegn fra listen og fjerner browserens default ved margin og padding  */
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    /* Indstilling af links */
    ul li{
        margin-right: 20px;
    }
    
    /* Grundlæggende stil for linksne i navigationsbaren */
    li a {
        color: #252525;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        margin: 100px;
    }
    
    /* Når musen kører over menuen skifter teksten til lyserød og forbliver lyserød ved aktiv anvendelse */
    li a:hover, li a.active {
        color: rgb(244, 140, 160);
    }
    
    /* Design og funktion for knappen */
    .read-mere-knap {
        padding: 10px 20px;
        background-color: #7d7d7d;
        color: #252525;
        border: none;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer; /* Når musen kører over knappen kommer der en "hånd" */
    }
    
    /* Når musen kører over knappen skifter teksten til lyserød */
    .read-mere-knap:hover {
        color: rgb(244, 140, 160);
    }



.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro img {
    margin-left: auto;
    width: 466px;
    height: auto;
}


.kompetencer {
    width: 100%;
    height: auto;
}
.overskrift {
    width: 162px;
    height: 65px;
}

.intro h2 {
    width: 542px;
    height: 35px;
}

.indhold {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tekst-overst {
    display: flex;
    flex-direction: column;

}