html, body {
/* Indstiller grundlæggende layout og farver for hele dokumentet, bruger flexbox for layoutet */
    height: 100%;
    margin: 0;
    padding: 0;
    color: #252525;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 18px;
}

/* p, h1, h2 indstiller typografi for afsnit og overskrifter */
p {
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-style: bold;
}

h2 {
    font-weight: 400;
    font-style: normal;
}


/* Header og navigationsmenu */

/* Header indstiller headerens layout og positionering */
header {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

/* .navigation-container-forside, Flex-container for navigation, centreret. */
.navigation-container-forside {
    display: flex;
    justify-content: center;
}

/* .navigation-indhold, Flex-container til indholdet af navigation, fordelt mellem logo og links. */
.navigation-indhold {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigation-container-forside ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navigation-container-forside ul li a {
    color: #252525;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/* Styler links */
.navigation-container-forside ul li a:hover, 
.navigation-container-forside ul li a.active {
    color: rgb(244, 140, 160);
}

/* Styler logoet */
.logo {
    height: 50px;
}

/* Hovedindhold */
.main-container-forside {
    flex: 1;
    padding: 0px;
}
/*  Indstiller hovedindholdets layout og positionering */

.hovedindhold-forside {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
}

.introduktion-forside {
    width: 50%;
    text-align: center;
    padding: 20px;
}


/* Styler elementer */
.navn-forside {
    font-size: 36px;
    color: rgb(244, 140, 160);
}

.titel-forside {
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
}

h2, .laes-mere-knap {
    font-weight: 700;
    font-style: bold;
}

.laes-mere-knap {
    padding: 10px 20px;
    background-color: #7d7d7d;
    color: #252525;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.laes-mere-knap:hover {
    color: rgb(244, 140, 160);
}


/* Billedet */
.billede-container-forside {
    background-color: rgba(244, 140, 160, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.billede-container-forside img {
    max-width: 100%;
    height: auto;
}


/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.footer-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

address {
    font-style: normal;
}

.footer-info img {
    height: 20px;
    width: 20px;
}

.footer-tre-info {
    display: flex;
    gap: 20px;
}

a:link {
    text-decoration: none;
    color: #252525;
}

.sociale-medier {
    display: flex;
    gap: 20px;
}

.sociale-medier img {
    height: 25px;
    width: 25px;
}


/* Media queries for responsivt design */



/* Nedestående er CSS for 'OM MIG' siden */


.main-container-om-mig {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.introduktion-om-mig {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    gap: 20px;
}

.tekst-om-mig {
    max-width: 50%;
}

.overskrift-om-mig {
    font-size: 36px;
    color: #f48ca0;
    margin-top: 0;
}

.billede-om-mig {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* Kompetencer sektion */
.mine-kompetencer {
    padding: 100px 0;
}

.under-overskrift {
    font-size: 30px;
    padding: 20px;
    margin: 0px;
    text-align: center;
}

.kompetence-liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.kompetence {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}

.kompetence img {
    width: 80px;
    margin-bottom: 20px;
}

.adobe-programmer {
    margin-top: 40px;
    text-align: left;
    padding: 20px;
}

.adobe-ikoner {
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.adobe-ikoner img {
    width: 40px;
}

.adobe-titel {
    font-size: 20px;
}






/* Nedestående er CSS for 'PORTFOLIO' siden */


/* Hovedindhold */
.main-container-portfolio {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
    box-sizing: border-box;
}

.portfolio h1 {
    color: #f48ca0;
    font-size: 36px;
    margin-top: 0px;
    text-align: left;
    padding: 20px 0;
}

.galleri {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Projekter */
.projekt, .design, .portrait, .branding, .animation {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.produktbilleder, .logo-billeder, .portrait-billeder, .brand-billeder {
    display: flex;
    gap: 20px;
}

.produktbilleder img, .logo-billeder img, .portrait-billeder img, .brand-billeder img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.beskrivelse, .beskrivelse-logo, .beskrivelse-portrait, .beskrivelse-brand, .beskrivelse-video, .beskrivelse-animation {
    text-align: left;
    max-width: 600px;
}

/* Specifikke sektioner */
.projekt {
    flex-direction: row-reverse;
}

.portrait {
    flex-direction: row-reverse;
}

.brand-billeder {
    flex-direction: column;
}

.portfolio-video iframe {
    max-width: 500px;
    height: 280px;
}

.portfolio-video {
    display: flex;
    flex-direction: row-reverse;
}

.animation {
    flex-direction: row-reverse;
}




/* Nedestående er CSS for 'KONTAKT MIG' siden */

.main-container-kontakt {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.kontakt-info h1 {
    color: #f48ca0;
    font-size: 36px;
    margin-top: 0;
}

.info-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 100px;
}

.info-tekst {
    max-width: 50%;
    text-align: left;
}

.info-tekst h2 {
    font-size: 30px;
    color: #252525;
    margin-top: 10px;
}

.brodtekst {
    text-align: left;
}

.kontakt-detajler {
    display: flex;
    flex-direction: column;
}

.kontakt-item {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}

.kontakt-billede {
    background-color: rgba(244, 140, 160, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.kontakt-billede img {
    max-width: 100%;
    height: auto;
}

.ikon {
    height: 30px; 
    width: 30px;
}

.formular-intro {
    padding-top: 100px;
}

.kontakt-form h2 {
    font-size: 30px;
    padding: 20px;
    margin: 0px;
}

.kontakt-form p {
    font-size: 16px;
    padding: 20px;
    margin: 0px;
}

form input, form textarea {
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
    padding: 20px;
    background-color: rgba(244, 140, 160, 0.20);
    border: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form button {
    padding: 10px 30px;
    background-color: #7d7d7d;
    color: #252525;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px;
}

form button:hover {
    color: rgb(244, 140, 160);
}